# Mock API Environment Variables
# Copy to .env.local for local development or .env.production for production

OPERACLONE2_HOST=0.0.0.0
OPERACLONE2_DB_HOST=localhost
OPERACLONE2_DB_PORT=5432
OPERACLONE2_DB_USER=OperaClone2
OPERACLONE2_DB_PASS=OperaClone2
OPERACLONE2_DB_BASE=OperaClone2
OPERACLONE2_CORS_ORIGINS=*
